[D-BUS Service]
Name=org.freedesktop.DBus.TestSuiteShellEchoServiceSuccess
Exec=/home/sunxilong/work/mycode/my_avahi_v3/dependence/src/dbus-1.12.20/test/test-shell-service -test "that" 'we get' back --what "we put in"

