[Unit]
Description=D-Bus System Message Bus Socket

[Socket]
ListenStream=/home/sunxilong/work/mycode/my_avahi_v3/dependence/install/var/run/dbus/system_bus_socket
